// Main styles file

@import normalize

*
  box-sizing: border-box

body
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQImWNgQAVSZHAADXgAaQuCV7gAAAAASUVORK5CYII=) repeat #444
  color: white
  padding: 10px
  overflow-x: hidden

.site-branding__logo
  width: 240px
  position: relative
  z-index: 100


@media all and (min-width: 960px)
  .two-col__left,
  .two-col__right
    display: inline-block
  .two-col__left
    float: left
    width: 75%
  .two-col__right
    width: 25%

.live-wrapper__video
  width: 100%
  height: auto

.page-content
  margin-top: 20px

.placeholder.hidden
  opacity: 0
  pointer-events: none

.placeholder
  position: absolute
  top: 0
  left: 0
  width: 100vw
  padding: 40px
  min-height: 100vh
  background-color: rgba(black, .75)
  text-align: center
  opacity: 1
  transition: opacity 1s ease
  img
    max-height: calc(100vh - 80px)
    width: auto

.placeholder__text
  font-size: 2em
  font-family: FreeSans, Helvetica Neue, sans-serif
  font-weight: bold
  position: absolute
  top: 80px
  left: 20px
  width: 480px
  max-width: 100%
  text-align: left

body.showing-placeholder
  overflow: hidden

.chat__title,
.video__title
  font-size: 1.25em
  font-family: FreeSans, Helvetica Neue, sans-serif
  font-weight: bold

.chat__title
  &:after
    content: "\1F4A1"
    float: right
  &:hover
    cursor: help

.chat__helptext
  &.hidden
    opacity: 0
    pointer-events: none
  font-family: FreeSans, Helvetica Neue, sans-serif
  transition: opacity 1s ease
  position: absolute
  z-index: 100
  background-color: rgba(black, .75)
  padding: 20px
  font-size: 1.35em

.chat__close
  float: left
  &::before
    font-size: 2em
    content: "X"
    padding: 8px 8px 0 0
  &:hover
    cursor: pointer
